body {
    background: #fff;
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#main {
    width: 800px;
    margin: 0 auto 0 auto;
}

#maincontent {
    width: 500px;
    margin: 0 auto 0 auto;
    clear: both;
}


h1 {
    text-align: center;
}

h2 {
    text-align: left;
    font-variant: small-caps;
    border-bottom: 1px solid #6D6D6D;
    padding-top: 1em;
}

ul {
    list-style-type: square;
}

#header address {
    float: right;
    font-size: 10px;
    text-transform: lowercase;
    width: 150px;
}

#footer {
    text-align: center;
    margin-top: 2em;
    border-top: 1px solid #6D6D6D;
}

#footer p {
    padding: 5px;
    margin: 0;
}

#footer img {
    border: 0;
}

li.job {
    clear: both;
    padding-top: 10px;
}

span.jobdate {
    float: right;
    width: 10em;
    text-align: left;
}

span.institution {
    float: left;
    text-align: right;
}

span.company {
    float: left;
    text-align: right;
}

span.jobtitle {
    font-style: italic;
}



